body {
  overflow: hidden;
  font-family: "Dongle", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* pěkně ve středu */
  background: #47434b;

}
canvas {
  display: block;
  border-radius: 15px;
  margin-left: 30px;
}
 .container {
    display: flex;
    align-items: flex-start; /* Align the top of the left column with the top of the canvas */
  }
.leftPanel {
  display: flex;
  flex-direction: column;
  margin-left: 20px; /* Add some margin for better appearance */
}
button {
  padding: 10px 30px;
  font-family: "Dongle", serif;
  font-size: 30px;
  cursor: pointer;
  background-color: #a7bf2e;
  color: white;
  border: none;
  border-radius: 5px;
}
.money {
  padding: 10px 30px;
  font-size: 30px;
  background-color: #54CBAB;
  color: white;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: #6c9100;
}
