body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure body takes full viewport height */
    background: #faf8ed
  }
      canvas {
        display: block;
        border-radius: 15px;
      }
      #spawnBtn {
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #a7bf2e;
        color: white;
        border: none;
        border-radius: 5px;
      }
      #spawnBtn:hover {
        background-color: #6C9100;
      }