body {
  overflow: hidden;
  font-family: "Dongle", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* center content */
  background: #47434b;
}
canvas {
  display: block;
  border-radius: 15px;
}
h1{
  font-size: 100px;
  text-align: center;
  margin-bottom: 0;
}
.container {
  display: flex;
  align-items: flex-start; /* Align the top of the left column with the top of the canvas */
}
.leftPanel {
  display: flex;
  flex-direction: column;
  margin-left: 20px; /* Add some margin for better appearance */
}
button {
  padding: 10px 30px;
  font-family: "Dongle", serif;
  font-size: 30px;
  cursor: pointer;
  background-color: #a7bf2e;
  color: white;
  border: none;
  border-radius: 10px;
  width: 300px;
  transform: translate(100px);
}
.money {
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center;
  background-color: #54cbab;
  color: white;
  border: none;
  border-radius: 10px;
  transform: translate(100px);
}
.scoringText {
  padding: 1px 1px;
  font-size: 10px;
  text-align: center;
  word-spacing: 0.1rem;
  background-color: #f95a37;
  color: white;
  border: none;
  border-radius: 20px;
  transform: translate(485px, 40px);
  width: 470px;
  font-family: sono
}

button:hover {
  background-color: #6c9100;
}
